html, body {
    height: auto;
}

#first_container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-image: url(images/background1.png);
}

#second_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3%;
    height: 100%;
    opacity: 0.5;
    background-color: seagreen;
}

#second_container #hamburger_menu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 7%;
    width: 100%;
    background-color: seagreen;
    opacity: 1;
}

#second_container #hamburger_menu #p1 {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#second_container #hamburger_menu #line1 {
    position: absolute;
    left: 25%;
    top: 10%;
}

#second_container #hamburger_menu #line2 {
    position: absolute;
    left:25%;
    top: 50%;
}

#second_container #hamburger_menu .long_line {
    background-color: grey;
    border: 2px solid grey;
    border-radius: 3px;
    width: 50%;
}

#second_container #hamburger_menu #short_line {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: grey;
    border: 2px solid grey;
    border-radius: 3px;
    width: 40%;
}

#second_container:hover {
    opacity: 1;
}

#second_container:hover #hamburger_menu .long_line {
    width: 96%;
    background-color: darkslategray;
    border: 2px solid darkslategray;
    opacity: 1;
}

#second_container:hover #hamburger_menu #line1 {
    left: 0%;
}

#second_container:hover #hamburger_menu #line2 {
    left: 0%;
}

#second_container:hover #hamburger_menu #short_line {
    left: 0%;
    width: 96%;
    background-color: darkslategray;
    border: 2px solid darkslategray;
    opacity: 1;
}

#second_container:hover {
    width: 10%;
}