#photo1 {
    position: fixed;
    top: 10%;
    right: 6%;
    opacity: 0;
}

#name {
    padding-left: 10%;
    position:fixed;
    top: 5%;
    font-family: arial;
    opacity: 0;
}

#para1 {
    position: fixed;
    font-family: arial;
    font-size: 120%;
    text-align: justify;
    font-style: italic;
    top: 17%;
    left: 10%;
    width: 50%;
    opacity: 0;
}

#title1 {
    position: fixed;
    padding-left: 10%;
    top: 2%;
    font-family: arial;
}

#button_1 {
    position: fixed;
    width: 10%;
    height: 10%;
    top: 10%;
    left: 10%;
    font-size: 100%;
    font-weight: bold;
    background-color: olivedrab;
}

#button_2 {
    position: fixed;
    width: 10%;
    height: 10%;
    top: 10%;
    left: 20%;
    font-size: 100%;
    font-weight: bold;
    background-color: olivedrab;
}

#button_3 {
    position: fixed;
    width: 10%;
    height: 10%;
    top: 10%;
    left: 30%;
    font-size: 100%;
    font-weight: bold;
    background-color: olivedrab;
}

#languages {
    position: fixed;
    width: 80%;
    height: 70%;
    top: 22%;
    left: 10%;
    border-radius: 2%;
    opacity: 1;
    background-color: khaki;
}

#technologies {
    position: fixed;
    width: 80%;
    height: 70%;
    top: 22%;
    left: 10%;
    border-radius: 2%;
    opacity: 0;
    background-color: khaki;
}

#operatingsys {
    position: fixed;
    width: 80%;
    height: 70%;
    top: 22%;
    left: 10%;
    border-radius: 2%;
    opacity: 0;
    background-color: khaki;
}

.bar {
    position: absolute;
    width: 80%;
    left: 15%;
    height: 3%;
    background-color: gray;
    opacity: 1;
    border-radius: 20px;
}

#c {top: 9%;}
#java {top: 22%;}
#c_sharp {top: 35%;}
#html {top: 48%;}
#css {top: 61%;}
#javascript {top: 87%;}
#matlab {top: 74%;}

#p1 {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 3%;
}

#p2 {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 3%;
}

#p3 {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 31%;
    left: 3%;
}

#p4 {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 44%;
    left: 3%;
}

#p5 {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 57%;
    left: 3%;
}

#p6 {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 3%;
}

#p7 {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 83%;
    left: 3%;
}

.percent1 {
    width: 80%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}

.percent2 {
    width: 70%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}

.percent4 {
    width: 60%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}

.percent3 {
    width: 65%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}

.percent5 {
    width: 55%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}

.percent6 {
    width: 50%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}

.percent7 {
    width: 30%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}